<!DOCTYPE html>
<html>
  <head>
    <title>Roundest (Rails Version)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div class="bg-gray-950 text-white flex flex-col justify-between font-geist min-h-screen border-t-2 border-red-300">
      <nav class="flex flex-row justify-between items-center py-4 px-8">
        <div class="flex items-baseline">
          <%= link_to root_path, class: "font-bold text-3xl" do %>
            round<span class="text-red-300">est</span>
          <% end %>
          <p class="text-gray-400 font-extralight pl-2 text-2xl">
            (Ruby on Rails)
          </p>
        </div>
        <div class="flex flex-row items-center gap-8">
          <%= link_to results_pokemons_path, class: "hover:underline text-lg" do %>
            Results
          <% end %>
        </div>
      </nav>

      <main>
        <%= yield %>
      </main>

      <footer class="font-light text-center py-3 text-gray-500">
        <a href="https://github.com/t3dotgg/1app5stacks" target="_blank">GitHub</a>
      </footer>
    </div>
  </body>
</html>
